<div class="row featured-project">
  <div class="two columns">
    <%= link_to image_tag("projects/#{project.image}", width: "100"), project.url, target: "_blank" %>
  </div>
  <div class="ten columns">
    <strong><%= project.name %></strong><br>
    <%= project.description %>
  </div>
</div>