/*
 * Posts
 * --------------------------------------------------
 */
.posts {
  margin-bottom: 4rem;
}

.post {
  margin-bottom: 1.75rem;
  .post-date {
    float: left;
  }
  .post-title {
    text-align: right;
  }
}

/*
 * Helpers
 * --------------------------------------------------
 */
.center {
  text-align: center;
}