/*
 * Colors
 * --------------------------------------------------
 */
$black:      rgba(0, 0, 0, 0.8);
$blue:       #0076df;
$blue-dark:  #304650;
$green:      #357e35;
$grey:       #666666;
$grey-light: #dedede;
$red:        #b92222;

/*
 * Layout
 * --------------------------------------------------
 */
body {
  font-family: 'Calluna', serif; //'EB Garamond', serif;
  color: $grey;
  font-size: 22px;
  line-height: 1.6;
}

.container {
  max-width: 720px;
  margin: 0 auto;
  padding: 0 1rem;

  &.large {
    max-width: 960px;
  }
}

header {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 6rem;
  //border-bottom: 1px solid $grey-light;
}

footer {
  margin-top: 6rem;
  padding-top: 2rem;
  width: 100%;
  border-top: 1px solid $grey-light;

  ul {
    margin: 0;
    padding: 0;

    li {
      list-style: none;
      margin-bottom: 0.9rem;

      &:before { content: none; }
      &.title {
        margin-bottom: 1.25rem;
        text-transform: uppercase;
      }
    }
  }
}

.copyright {
  margin-top: 2rem;
  padding: 1.75rem 0;
}

/*
 * Typography
 * --------------------------------------------------
 */
h1, h2, h3, h4, h5, h6 {
  color: $black;
}

h1, .h1 {
  font-size: 3.375rem;
  line-height: 3.625rem;
}

h2, .h2 {
  font-size: 2.25rem;
  line-height: 2.625rem;
}

h3, .h3 {
  font-size: 1.65rem;
  line-height: 1.625rem;
}

p, ol, ul, table, blockquote {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

p > code, li > code {
  padding: 0.2em 0.4em;
  font-size: 0.8em;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  background: $grey-light;
  color: $black;
}

a,
a:visited {
  color: $blue;
  text-decoration: none;

  &:hover { text-decoration: underline; }
}
