/*
 * Posts
 * --------------------------------------------------
 */
.posts {
  margin-bottom: 4rem;
}

.post {
  margin-bottom: 1.8rem;

  .post-date {
    float: left;
  }
  .post-title {
    text-align: right;
    font-weight: normal;
  }
}
