<% content_for :header do %>
  <%= partial "views/shared/header_light" %>
<% end %>

<% wrap_layout :application do %>
  <article>
    <h1 class="center"><%= current_page.data.title %></h1>
    <%= yield %>
  </article>
  <%= partial("views/shared/project", locals: {project: data.projects.sample}) %>
<% end %>