---
layout: default
---

<main class="container" aria-label="Content">
  {%- include header_light.html -%}

  <!-- <% content_for :amp do %>
    <link rel="amphtml" href="https://mercury.postlight.com/amp?url=<%= 'http://blog.yafoy.com' + current_page.url %>">
  <% end %> -->

  <article itemscope itemtype="http://schema.org/BlogPosting">
    <h1 class="center">
      {{ page.title }}
    </h1>
    {{ content }}
  </article>
  <div id="featured-project"></div>
</main>

<script type="text/javascript">
  function setRandomProject() {
    let wrapper = document.getElementById("featured-project")
    let projects = {{ site.data.projects | jsonify }}
    let project = projects[Math.floor(Math.random()*projects.length)]
    let imgURL = "/assets/images/projects/" + project.image
    let content = `
    <div class="row featured-project">
      <div class="two columns">
        <a href="${project.url}" target="_blank">
          <img src="${imgURL}" alt="${project.name }" width="100">
        </a>
      </div>
      <div class="ten columns">
        <strong>${project.name}</strong>
        <br>
        ${project.description}
      </div>
    </div>`
    wrapper.innerHTML = content
  }

  document.addEventListener("DOMContentLoaded", setRandomProject);
</script>
