<% content_for :header do %>
  <%= partial "views/shared/header" %>
<% end %>

<h1>This is a title</h1>
<h2>This is a title</h2>
<h3>This is a title</h3>
<h4>This is a title</h4>
<h5>This is a title</h5>
<h6>This is a title</h6>

<p>
  This is a paragraph. Most content will look like this. Use it
  for one-line paragraph or very long text. Enjoy paragrpahs because
  you will find them all over this site.
</p>

<p>
  <strong>Put emphasis on</strong> code snippets to showcasevarious elements
  such as <code>h1</code>, <code>div</code>, or <code>section</code>
</p>

<ul>
  <li>Un</li>
  <li>Deux</li>
  <li>Trois</li>
</ul>

<ol>
  <li>Un</li>
  <li>Deux</li>
  <li>Trois</li>
</ol>

<hr>

<pre>
.class {
  color: $green;
}
</pre>

<blockquote cite="http://www.worldwildlife.org/who/index.html">
  For 50 years, WWF has been protecting the future of nature.
  The world's leading conservation organization,
  WWF works in 100 countries and is supported by
  close to 5 million globally.
</blockquote>